amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.1
django-suit==0.2.18
djangorestframework==3.3.2
kombu==3.0.35
lxml==3.6.0
pytz==2016.4
requests==2.10.0
requests-file==1.4
selenium==2.53.5
browsermob-proxy==0.7.1
tldextract==2.0.1
psutil==4.3.0



